body, *, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:Roboto;
  src: url("./fonts/roboto.eot")
}
.maket {
  background-color: #E5E5E5;
  position: relative;
  height:1792px;
  width: 1920px;
}

header {
  display: grid;
  grid-template-columns: 560px;
  height:48px;
  background-color: #FFFD00 ;
}


.top {
  margin-top: 1px;
  text-align: right;
  
}
.search-container {

  height:48px;
  background-color: #FFFFFF;
  position: relative;
}

.search-empty {
  width: 450px;
  max-width: 470px;
}

.article {
  position: relative;
  margin-left: 975px;
  grid-area: label;
  /*margin-left: 88px;*/
}

.author {
  position: relative;
  grid-area: label;
  margin-left: 30px;
}

label {
  color: blueviolet;
}

.search-box {
  position:relative;
  left: 950px;
  width:255px;
  height: 30px;
  border-radius:46px;
}

.back {
  width:200px;
  height:50px;
  border-radius: 100px;
  font-size:14px;
  background-color:rgb(253, 253, 253);
  position: fixed;
  left: 1200px;
  top: 100px;
  border: none;
}

img {
  width: 226px;
  height: 103px;
  object-fit: cover;
}

.container {
  max-width: 1185px;
  width: 950px;
  margin: 0 auto;
  padding: 110px 11px;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-top: 40px;
  padding: 0px;
}

.section1__item.main img {
  height: 335px;
  width: 460px;
  object-fit: cover;
}
.section1__item {
  background: #fff;
  border-radius: 12px;
}

.horizontal-gradient {
  background: linear-gradient(to right, blue, pink);
}

.section1__item:first-child {
  grid-row: span 2;
grid-column:  span 2;
}
.section1__item:nth-child(n+6) {
  grid-row: span 2;
  grid-column: span 2;
  margin: 9px 3px 1px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px 8px white inset; 
}


.section1__item:nth-child(n+6) img {
  width: 206px;
  height: 200px;
  object-fit: cover;
  flex-direction: row;
}

.section1__item
.section1__item img {
  background: #fff;
  border-radius: 12px;
}
.section1__item-content {
  padding: 8px;
  align-self: flex-end;
}

.section1__item-content-1 {
  padding: 15px;
  display: inline-block;
  top: 1px;
}
.section1__item h2 {
  font-size: 20px;

}
.section1__item p {
  font-size: 10.5px;
  line-height: 1;
  max-height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

a {
  margin-top: 1px;
  padding-top: 1px;
}

.section1__item-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1px 1px;
  color: #7CF253;
}

.section1__item-number > div {
  padding: 0 2px;
}

.section1__item-number .number{
  font-size: 30px;
}

.section1__item-number .plus,
.section1__item-number .minus {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.section1__item-number .plus::after,
.section1__item-number .minus::after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1__item-number .minus::after {
  background: #FF9494;
}

.section1__item-number .plus::after,
.section1__item-number .plus::before {
  background: #7CF253;
}

.section1__item-number .plus::before {
  content: "";
  display: block;
  width: 2px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
    width:200px;
    height:50px;
    border-radius: 100px;
    font-size:14px;
    background-color:yellow;
    position: relative;
    left: 356px;
    top: 72px;
    border: none;
  }

  footer {
    background-color: #fff;
    height: 100px;
  }
  

@media screen and (max-width:1280px) {

  header {
    grid-template-columns: 1019px;
  }

  .search-box {
  left:1665px;
  }

  .article {
   display: none;
  }
  
  .author {
    display: none;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  .maket {
    background-color: #E5E5E5;
    position: relative;
    height:fit-content;
    width: 1920px;
    cursor: pointer;
  }

  .back {
    display: none;
  }

  .section1__item-number .plus,
  .section1__item-number .minus {
    display: none;
  }

  .number {
    display: none;
  }

  .section1__item-content {
    padding: 8px;
    display: inline-block;
    font-weight: bold;
  }

  .section1__item {
    display: flex;
    width:115px;
  }

  .section1__item img {
    height: 40% !important;
  }

  .section1__item p {
    font-size: 13px;
    max-height: 50px;
    font-weight: normal;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width:615px;
  }
  
  .section1__item.main img {
    height: 100% !important;
    border-radius: 6px;
    object-fit: cover;
    flex-direction: row;
  }
  .section1__item h2 {
    font-size: 34px;
    font-weight: bold;
    font-family: robot;
  }

  img {
    width:50%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    flex-direction: row;
  }

  .container {
    width: 1185px;
    margin: 0 auto;
    padding: 110px 11px;
  }

  .section1__item:nth-child(n+6) img {
    height: 100% !important;
    object-fit: cover;
    flex-direction: row;
  }

  .section1__item {
    width:100%;
    height:100%;
    margin: 9px 3px 1px;
    border-radius: 12px;
  }

  a {
    font-weight: normal; 
    font-size: 14px;
  }
  .button {
    left: 42%;
  }

}


